---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>This is my TechBlog</h1>
			<br/>
			<h3>Overview</h3>
			<br/>
			<article>
				<h4>Owerner</h4>
				<ul>
					<li>Name: Tetsu-is</li>
					<li>GitHub: <a href="https://github.com/Tetsu-is">@Tetsu-is</a></li>
					<li>Job: Serverside Engineer</li>
					<li>Major: Computer Science at Kwansei Gakuin University</li>
				</ul>
			</article>
			<article>
				<h4>Tech Stack</h4>
				<ul>
					<li>Web framework: Astro</li>
					<li>Hosting: Couldflare Pages</li>
				</ul>
			</article>
		</main>
		<Footer />
	</body>
</html>
